@import url('//db.onlinewebfonts.com/c/7cf481fc308070912ac3a8357db632c0?family=Nineteen + Ten + Vienna');

@font-face {
  font-family: 'Nineteen Ten Vienna';
  font-display: auto;
  src: url('//db.onlinewebfonts.com/t/7cf481fc308070912ac3a8357db632c0.eot');
  src: url('//db.onlinewebfonts.com/t/7cf481fc308070912ac3a8357db632c0.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/7cf481fc308070912ac3a8357db632c0.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/7cf481fc308070912ac3a8357db632c0.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/7cf481fc308070912ac3a8357db632c0.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/7cf481fc308070912ac3a8357db632c0.svg#Nineteen Ten Vienna')
      format('svg');
}
