
// .section-header {
//     background: url('./assets/portrait_YIA_monir.jpg') #000;
//     background-position-x: right;
//     background-size: cover;
//     background-repeat: no-repeat;
// }

.section-videos {
    background: #000;
}

// body {
//     background: none;
//     color: #bac4cea1;
// }

.color-creme {
    color: #edd990;
}

.color-tangerine {
    color: #de6d2c;
}

.facets {
    font-family: 'Facets NF';
}

.site-title {
    font-size: 6rem;
}

.social-icons {
    padding: 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-icons li {
    /* display: inline-block; */
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

a, a:link, a:active, a:focus, a:hover, a:visited {
    color: #de6d2c;
    text-decoration: none;
}

.youtube-fluid {
    max-width: 100%;
}